a {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #17a09d;
    text-decoration: none;
}

body {
    margin: 0;
    background: grey;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

.product{
    color: #FFFFFF;
}

.product:hover, .product:active, .product:focus {
    color: fuchsia;
}

i {
    color: red;
}